name: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Required for goreleaser to create releases
    steps:
      - name: Checkout code 
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Required

      - name: Set up go runtime
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Release
        uses: goreleaser/goreleaser-action@v6
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAP_GITHUB_TOKEN: ${{ secrets.TAP_GITHUB_TOKEN }}
